@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
    font-family: 'Lato', sans-serif !important;
}
:root{
    --bg-color:#264653;
    --primary-color: crimson;
    --common-color:#fff;
}
header{
    background: var(--bg-color);
    height: auto;
}
.navigation{
    background: var(--bg-color);
}
.logo{
    font-size: 2rem !important;
    color: var(--primary-color) !important;
    font-weight: bold;
}
.logo span{
    color: #fff;
}
.common-btn a{
    background: var(--primary-color);
    color: var(--common-color);
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border: 2px solid var(--primary-color);
}
.common-btn a:hover{
    color: var(--common-color);
    background: transparent;
}
#hero{
    padding: 130px 0 80px;
}
.small-title{
    letter-spacing: 8px;
    font-size: .8rem;
}
/* .main-title{
    font-size: 3rem;
} */
.main-title span{
    color: var(--primary-color);
}
.modal-btn:hover{
    color: var(--bg-color) !important;
}

/* --------feaure-------- */
#feaure{
    padding: 50px 0;
}
.section-title p{
    width: fit-content;
    color: var(--primary-color);
    letter-spacing: 2px;
}
.section-title h1 span{
    color: var(--primary-color);
}
.section-title p::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: var(--primary-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
#feaure img{
    width: 80%;
}
.grayscale{
    filter: grayscale(1);
}
/* --------feaure-------- */
/* --------news------ */
.news-box img{
    transition: 0.5s ease transform;
}
.news-box:hover img{
    transform: scale(1.2);
}
#news .common-btn a:hover,
#contact .common-btn a:hover{
    color: var(--bg-color);
}
/* --------news------ */
#clints .clint-box{
    width: 90%;
}
.desc{
    color: #777;
    font-weight: 400;
}
.ratting ion-icon{
    color: var(--primary-color);
    font-size: 1.3rem;
}
.name{
    color: #0fbcf9;
}
#clints .clint-box small{
    color: #222;
}

/* ----------askQue--------- */
#askQue img{
    width: 90%;
}
.toggle-btn{
    color: #0fbcf9 !important;
    font-size: 1.1rem !important;
    border: 1px solid rgba(153, 153, 153, 0.493) !important;
    box-shadow: none !important;
}
/* ----------askQue--------- */

/* ----------contact------ */
.contact-info h3{
    font-size: 1.4rem;
    color: #264653;
    font-weight: 700;
}
.contact-info ion-icon{
    color: var(--primary-color);
}
.contact-info p{
    color: #999;
}
#contact form .input-box input,
#contact form .input-box textarea{
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(153, 153, 153, 0.527);
    padding-left: 0;
    color: #777;
}
::placeholder{
    color: rgba(153, 153, 153, 0.493) !important;
}
/* ----------contact------ */

/* ---------sponsor------- */
#sponsor{
    padding: 100px 0;
}
#sponsor img{
    cursor: pointer;
    filter: grayscale(1);
    transition: 0.3s ease filter;
}
#sponsor img:hover{
    filter: grayscale(0);
}
/* ---------sponsor------- */

/* ----------footer-------- */
footer{
    background: var(--bg-color);
    padding: 50px 0 0;
}
footer ul{
    padding-left: 0;
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.534);
}
footer li a:hover{
    color: rgba(255, 255, 255, 0.534);
    text-decoration: underline;
}
footer img{
    width: 200px;
}
.copyright{
    background: #17303a;
}
/* ----------footer-------- */